
.footer{
    text-align: center;
    justify-content: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    color: var(--text-color);
   padding: 0;
   
    >.text{
        font-size: 20px;
        font-weight: 500;
    }
    >ul{
        display: flex;
        justify-content: center;
        text-align: center;
        >li{
            list-style-type: none;
            padding: 0 10px;
            font-size: 20px;
            font-weight: 500;
        }
        >li:hover{
            color: var(--link-color);
        }
    }
}